@page  "/games/detail/{id}"
@model Store.Pages.Games.DetailModel
@{
    ViewData["Title"] = "Game Detail";
}

<h1>Game Detail</h1>

<partial name="_Notification" model="@TempData["NotificationMessage"]" />

<div>
    <h2>@Model.Games.Name</h2>
    <p>Barcode: @Model.Games.Barcode</p>
    <p>Price: @Model.Games.Price</p>
    <p>Description: @Model.Games.Description</p>
    
</div>
